.mainWrapper{
  padding: 2em;
}

.accordHeader > ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.accordHeader > ul li{
  padding: 5px 15px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.accordHeader > ul li.active{
  background-color: beige;
}

.accordBody{
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 1.5em;
}

.accordBody .accordContent{
  padding: 10px;
  border: 1px solid #ddd;
}
.nextButton{
  padding: 10px 25px;
  border: 1px solid #ddd;
  box-shadow: 0;
  outline: 0;
  cursor: pointer;
}